#image-container > img {
  max-width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

#image-container {
  background-image: url("./landingPageImages/blob.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px 30px;
}

.top-container > div {
  flex: 50%;
}

#start-section {
  padding: 20px 20px;
  text-align: center;
  border:1px solid var(--secondary-color);
  border-radius: 15px;
}
h2 > #kazi {
  color: var(--tertiary-color);
}

#start-section > h2,
#kazi {
  word-spacing: 30px;
  font-size: 40px;
  color: var(--secondary-color);
}

#get-started {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  background-color: var(--tertiary-color);
  cursor: pointer;
  transition: all 0.5s ease;

}


#get-started:hover{
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    color: var(--secondary-color);
}