#review-form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#review-form-container > textarea {
  width: 100%;
}

.review-form {
  width: 60%;
  padding: 15px 20px;
  margin: 0 auto;
}
.review-form > textarea {
  width: 100%;
  outline: none;
  border-radius: 12px;
}

.review-form > textarea:focus {
  border: 2px solid var(--tertiary-color);
}

.review-form > h3 {
  color: var(--secondary-color);
}

.review-form-btn {
  display: flex;
  justify-content: space-between;
}

.btn-review {
  padding: 8px 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--tertiary-color);
  color: white;
  font-weight: bold;
  font-size: 14px;
}
