@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#file-selector {
  opacity: 0;
  font-size: 100px;
}

.form {
  /* align-items: center; */
  /* display: grid; */
  font-size: 14px;
  font-weight: 400;
  height: calc(100vh);
  justify-items: center;
  background-image: url("/public/images/img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/* form container styling */
.right-container {
  margin: 0 auto;
  background: #0a3971;
  display: grid;
  grid-template-areas: "." ".";
  width: 1000px;
  border-radius: 15px;
  box-shadow: 2.1px 2.1px 0.1px rgba(0, 0, 0, 0.13),
    5.5px 5.5px 1.9px rgba(0, 0, 0, 0.096),
    11.1px 11.1px 6.4px rgba(0, 0, 0, 0.084),
    21px 21px 15.4px rgba(0, 0, 0, 0.074),
    40.9px 40.9px 33.3px rgba(0, 0, 0, 0.063),
    100px 100px 80px rgba(0, 0, 0, 0.046);
}

.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 15px;
}

.right-container .set .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 240px;
}
/* input styling */
.right-container input {
  background: transparent;
  border: none;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  border-bottom: 2px solid #fff;
}

/* .right-container .inputs input {
  background: transparent;
  border: none;
  height: 38px;
  line-height: 100px;
  padding-left: 5px;
  border-bottom: 2px solid #fff;
} */
.radio-container input {
  width: 100%;

  /* padding: 55px; */
}
.right-container header {
  padding: 40px;
}
.right-container label,
.right-container input,
.right-container .customer-photo {
  width: 400px;
  color: var(--secondary-color);
}

.right-container .customer-description .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container footer {
  align-items: center;
  background: #0a3971;
  display: grid;
  padding: 5px 40px;
  float: center;
  align-items: center;
  border-radius: 15px;
}
/* button */
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 150px;
  border-radius: 9px;
  float: center;
  align-items: center;
}

.right-container footer #next {
  background: #feb800;
  border: 1px solid transparent;
  color: var(--primary-color);
  float: center;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  margin-left: 140px;
  margin-bottom: 10px;
  margin-top: -20px;
  margin: 0 auto;
  display: block;
}

.set button #next {
  float: center;
  align-items: center;
}

.right-container h1 {
  float: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-left: 440px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.right-container h2 {
  float: center;
  align-items: center;
  margin-left: 360px;
}
.sign-up {
  color: #feb800;
}

#login-section {
  margin: 0 auto;
}

.signup-errors {
  position: relative;
  left: -360px;
  width: 50%;
  color: var(--tertiary-color);
  font-size: 15px;
  font-weight: 400;
}
.customer-name label,
.customer-location label,
.customer-description label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  outline: none;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 0;
}

footer > a {
  text-decoration: none;
  color: var(--secondary-color);
}

#login-btn {
  margin: 0 auto;
  text-align: center;
}
#login-error {
  color: var(--tertiary-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
}

.email > label {
  color: var(--secondary-color);
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}

.email > input {
  outline: none;
}

/* responsive */
@media (max-width: 540px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .signup-container {
    display: block;
    width: 100%;
  }

  .right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-container .set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* description  */
.description-container input {
  width: 100%;
  padding: 50px;
  background-color: #fff;
}
.right-container h1 {
  font-size: 40px;
}
