.handyman-form-container {
  background-image: url("/public/images/img1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  overflow: hidden;
}

#handyman-signup {
  background-color: var(--primary-color);
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#textarea {
  padding: 10px;
  outline: none;
  border-radius: 12px;
}

.col-1 > input {
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.col-1 > label {
  font-weight: 600;
  color: var(--secondary-color);
}

.handyman-submit-btn {
  display: flex;
  justify-content: center;
}

.handyman-submit-btn > button {
  padding: 10px 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

#handyman-signup h2 {
color: var(--secondary-color);
text-align: center;
margin-top: 10px;
}

.button{
  background-color: #FEB800;
  width: 90px;
  color: black;
}
.image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  object-fit: cover;

}
.name{
  color: #FEB800;
  font-family: Poppins;
  font-size: 21px;
}
.occupation{
  font-size: 21px;
  font-family: Poppins;
  color: #f4f4f4;

}
.handymancard{
  display: flex;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px; */
  width: 900px;
  height: 320px;
  /* border-radius: 10%;
  border-style: solid;
  border-width: 1px; */
}
.info-bottom{
  padding-top: 30px ;
}
.rating, 
.button-span{
  padding-left: 30px;
}
.rating,
.location{
  font-weight: 600;
  font-size: 22px;
}
.info{
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 8%;
  flex: 1;
}
.container{
  width: 930px;
  height: 280px;
  background-color: #0a3971;
  border-radius: 50px;
  

}
.description-heading{
  font-size: 23px;
  font-weight: 520;
}
.paragraph{
  padding-top: 3%;
}

.handy-page{
  background-color: #f4f4f4;
  height: 100%;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}