.handyman-form-container {
  background-image: url("/public/images/img1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  overflow: hidden;
}

#handyman-signup {
  background-color: var(--primary-color);
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#textarea {
  padding: 10px;
  outline: none;
  border-radius: 12px;
}

.col-1 > input {
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.col-1 > label {
  font-weight: 600;
  color: var(--secondary-color);
}

.handyman-submit-btn {
  display: flex;
  justify-content: center;
}

.handyman-submit-btn > button {
  padding: 10px 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

#handyman-signup h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
}

.signup-error {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 13px;
}

.button-span {
  background-color: #feb800;
  border: none;
  border-radius: 10px;
  padding: 5px 30px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.image > img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--tertiary-color);
}
.image {
  padding: 5px 10px;
}
.name {
  color: #feb800;
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
}
.occupation {
  font-size: 21px;
  font-family: Poppins;
  color: #f4f4f4;
  text-align: center;
  font-size: 12px;
}
.handymancard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 320px;
}
.info-bottom {
  padding-top: 20px;
}
.rating,
.button-span {
  padding-left: 30px;
}
.rating,
.location {
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-color);
}
.info {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 8%;
  flex: 1;
}
.info-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container {
  width: 730px;
  height: 280px;
  background-color: #0a3971;
  border-radius: 20px;
  margin-bottom: 70px;
}

.main-container {
  padding: 10px;
}

.description-heading {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.paragraph {
  padding-top: 3%;
  color: var(--secondary-color);
  font-size: 13px;
}

.handy-page {
  background-color: #f4f4f4;
  height: 100%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.top-image {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
}
.page-top {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}
.top-div {
  align-items: center;
}
.header1 {
  font-size: 30px;
  padding-left: 30%;
}
.top-header {
  font-weight: 200;
  font-size: 18px;
  color: var(--primary-color);
}

.handyman-search {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 16%;
  margin-bottom: 50px;

}
.search-icon {
  height: 40px;
  width: 40px;
}
.sidebar-card {
  display: flex;
  gap: 10%;
}
.filter {
  height: 40px;
  width: 300px;
}
.option-div {
  padding-bottom: 20%;
}
.option-div > h3 {
  font-size: 20px;
}

@media screen and (max-width: 900px){
  .page-top {
    display: block;
    /* align-items:center; */
    /* margin-left: 90px;
    margin-bottom: 100px; */
    /* float:center; */
  }

  .page-top .top-image{
    align-items:center;
    float:center;
    position: center;
  }

  .top-header{
    text-align:left;
  }
}

/* handyman form */
.handyman-signup ,.row-1  ,.row-2 ,.row-3,.row-4 ,.row-5 .col-1 #textarea{
  display: flex;
  flex-wrap: wrap;
}

/* responsive */
@media (min-width: 540px) {
  .handyman-signup ,.row-5 .col-1 #textarea{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .handyman-signup .row-5 .col-1 #textarea {
    width: auto;
  }
  #textarea {
    width: 100%;
  }

}
label{
  padding-top: 2px;
}


/* handyman cards */
@media (max-width: 900px) {
  .container{
    width: auto;
  }
.sidebar-card{
  display: block;
  width: auto;
}
  .info{
    display: block;
  }
  .info .info-top{
    display: flex;
    font-size:auto;
    text-align: left;

  }
  .info .info-top .rating{
    display: block;

  }

}
