.handyman-form-container {
  background-image: url("/public/images/img1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  overflow: hidden;
}

#handyman-signup {
  background-color: var(--primary-color);
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#textarea {
  padding: 10px;
  outline: none;
  border-radius: 12px;
}

.col-1 > input {
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.col-1 > label {
  font-weight: 600;
  color: var(--secondary-color);
}

.handyman-submit-btn {
  display: flex;
  justify-content: center;
}

.handyman-submit-btn > button {
  padding: 10px 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}
