* {
  list-style: none;
}
.header {
  display: flex;
  gap: 20px;
  color: var(--secondary-color);
  padding: 20px;
  height: 80px;
}

#kazi-header {
  color: var(--tertiary-color);
}

.header > nav {
  flex: 2;
  width: 80%;
}

nav > ul > li {
  font-size: 15px;
  font-weight: 700;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
