@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
#file-selector {
  opacity: 0;
  font-size: 100px;
}

.form {
  align-items: center;
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: calc(100vh);
  justify-items: center;
  width: 100vw;
  background-image: url("../public/images/img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

/* form container styling */
.right-container {
    background: #0A3971;
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
  }

  .right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  /* input styling */
  .right-container input{
      background: transparent;
      border: none;
      height: 38px;
      line-height: 38px;
      padding-left: 5px;
      border-bottom: 2px solid #fff;
  }

  .radio-container input {
      width: 100%;
      padding: 55px;

    }
  .right-container header {
    padding: 40px;
  }
  .right-container label,
  .right-container input,
  .right-container .customer-photo {
    width: 176px;
  }

  .right-container .customer-description .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .right-container footer {
    align-items: center;
    background: #0A3971;
    display: grid;
    padding: 5px 40px;
    float: center;
    align-items:center;
  }
  /* button */
  .right-container footer button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 150px;
    border-radius: 9px;
    font-family: "Montserrat", sans-serif;
    float: center;
    align-items:center;
  }

  .right-container footer #next {
    background: #FEB800;
    border: 1px solid transparent;
    color: black;
    float: center;
    align-items:center;
    font-weight: bold;
    font-size: 17px;
    margin-left: 140px;
    margin-bottom: 10px;
    margin-top: -20px;

  }

  .set button #next{
      float: center;
      align-items:center;
  }


  .customer-name label,
  .customer-location label,
  .customer-description label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight:bold;
  }

  .radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 0;
  }


