.message-page{
    background-color: #0a3971 ;
    align-items: center;
    height: 100vh;
    justify-content: center;
    display: flex;
}

.message-container{
    border: 1px solid;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
   
}
.chat{
    flex: auto;
    background-color: #f4f4f4;
    height: 100%;
    width: 50%;
    position: relative;

}
.sidebar{
    background-color: #feb800;
    height: 100%;
    flex: auto;
    border-right: 2px solid;
    
}
.chat-user{
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    border-bottom: 1px solid #f4f4f4  ;
}
.user-image{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.user-name{
    font-weight: 600;
    font-size: 17px;

}
.users{
    padding-left: 5%;
    
}
.chatbar{
    background-color: #feb800;
    height: 7%;
    text-align: center;
    padding-top: 1%;
    border-bottom: 2px solid;
    margin-bottom: 20px;

}
.chat-username{
    font-weight: 600;
    font-size: 25px;
}
.message-input{
    height: 50px;
    width: 100%;
}
.input{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
}
.inputdiv{
    flex: auto;
}
.text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.text-content{
    background-color: #feb800;
    padding: 10px 20px;
    border-radius: 30px;

}
.text-info{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-bottom: 20px;
    gap: 20px;
    border-radius: 20%;
}
.text-message{
    overflow: scroll;
    max-height: 100%;
}
.send-button{
    width: 100px;
    background-color: #feb800;
}